::-webkit-scrollbar {
  display: none;
}
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #dbd8d8 !important;
}
main {
  font-family: "Quicksand", sans-serif;
}
.list-container {
  background-color: #ffffff;
  border: 1px solid #dbd8d8;
  border-radius: 20px;
  width: 80vw;
  margin: 40px auto;
  box-shadow: 0 2px 4px 0;
  height: 85vh;
  overflow: auto;
}
.media {
  border-bottom: 1px solid #dbd8d8;
  padding: 10px;
  margin: 0 auto;
}
.search {
  display: block;
  margin: 0 auto;
  width: 78vw;
}
.portrait {
  width: 120px;
  border: 1px solid #dbd8d8;
  border-radius: 50%;
  margin-left: 50px;
}
i {
  opacity: 0.4;
}
i:hover {
  opacity: 1;
}
#student-list button {
  background-color: #dbd8d8;
  border: none;
  color: #000;
}
#student-list input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #dbd8d8;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}
#student-list input:focus {
  border-bottom: 1px solid #000;
  outline: none;
}
#student-list .title {
  font-size: 32px;
  font-family: "Roboto", sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
